<a href="https://colab.research.google.com/github/aabbccs123/ATMInterface/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_excel("Updated_Student_Dataset_Final.xlsx")

In [3]:
columns_to_drop = ["Attendance Percentage", "Technical Skills Rating", "Soft Skills Rating", "Intermediate Marks"]
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [4]:
import numpy as np
np.random.seed(42)
df["Technical Score"] = np.where(df["Placement Status"] == "Placed",
                                            np.random.randint(16, 21, size=df.shape[0]),
                                            np.random.randint(10, 16, size=df.shape[0]))

In [5]:
df['Placement Status'] = np.where(df['Name of Company'].notna(), 'Placed', 'Not Placed')

In [6]:
import numpy as np

# Ensure Placement Status is label-encoded (1 for placed, 0 for not placed)
df["Placement Status"] = df["Placement Status"].map({"Placed": 1, "Not Placed": 0})

# Assign values based on Placement Status
df["Technical Score (out of 20)"] = np.where(df["Placement Status"] == 1,
                                             np.random.randint(16, 20, df.shape[0]),
                                             np.random.randint(5, 16, df.shape[0]))

df["Logical Reasoning"] = np.where(df["Placement Status"] == 1,
                                   np.random.randint(16, 20, df.shape[0]),
                                   np.random.randint(5, 16, df.shape[0]))

df["Quants"] = np.where(df["Placement Status"] == 1,
                        np.random.randint(16, 20, df.shape[0]),
                        np.random.randint(5, 16, df.shape[0]))

df["Verbal"] = np.where(df["Placement Status"] == 1,
                        np.random.randint(16, 20, df.shape[0]),
                        np.random.randint(5, 16, df.shape[0]))

df["Number of Internships"] = np.where(df["Placement Status"] == 1,
                                       np.random.randint(2, 4, df.shape[0]),
                                       np.random.randint(0, 2, df.shape[0]))

df["Number of Projects"] = np.where(df["Placement Status"] == 1,
                                    np.random.randint(2, 4, df.shape[0]),
                                    np.random.randint(0, 2, df.shape[0]))

# Programming languages and frameworks (Placed: mostly 1, Not Placed: mix of 0 and 1)
for col in ["Java", "Python", "C++", "ML", "AI", "CC", "SQL", "Tableau", "JavaScript", "DSA", "ReactJS"]:
    df[col] = np.where(df["Placement Status"] == 1,
                       1,
                       np.random.choice([0, 1], size=df.shape[0], p=[0.7, 0.3]))

# Academic scores (Placed: 80-96, Not Placed: lower)
df["Graduation Marks"] = np.where(df["Placement Status"] == 1,
                                  np.random.uniform(80, 96, df.shape[0]),
                                  np.random.uniform(50, 80, df.shape[0]))

df["10th Marks"] = np.where(df["Placement Status"] == 1,
                            np.random.uniform(80, 96, df.shape[0]),
                            np.random.uniform(50, 80, df.shape[0]))

df["12th Marks"] = np.where(df["Placement Status"] == 1,
                            np.random.uniform(80, 96, df.shape[0]),
                            np.random.uniform(50, 80, df.shape[0]))

for col in ["MongoDB", "GenAI", "MobileDev", "WebDev"]:
    df[col] = np.where(df["Placement Status"] == 1,
                       np.random.choice([0, 1], size=df.shape[0], p=[0.6, 0.4]),
                       np.random.choice([0, 1], size=df.shape[0], p=[0.8, 0.2]))


# Shuffle the dataset to remove patterns
df = df.sample(frac=1).reset_index(drop=True)

In [8]:
df["NodeJS"] = np.where(df["Placement Status"] == 1,
                       1,
                       np.random.choice([0, 1], size=df.shape[0], p=[0.7, 0.3]))

In [9]:
df.head(20)

,ZPRN,Name of Student,Branch,Gender,Name of Company,CTC,Nature of Job,Batch,Type of Offer,Comapny Domain,...,MongoDB,NodeJS,GenAI,DSA,MobileDev,WebDev,ReactJS,Technical Score (out of 20),Technical Score,12th Marks
0,121E01640,Victoria Solis,E&TC Engineering,Male,Microsoft,25.30,Full-time,2021,On-Campus,IT Services,...,0,1,1,1,0,1,1,16,18,94.715934
1,121E00876,Olivia Ray,R & A,Male,TCS,27.09,NaN,2022,Off-Campus,Software,...,1,1,0,1,0,1,1,19,19,86.861290
2,121E05956,Bradley Bryant,Information Technology,Female,TCS,25.54,NaN,2023,Off-Campus,IT Services,...,0,1,1,1,0,0,1,19,17,82.623426
3,121E09673,Amanda Gonzales,R & A,Female,Infosys,21.13,Full-time,2022,Off-Campus,NaN,...,0,1,0,1,0,1,1,18,14,92.519541
4,121E05589,Jimmy Elliott,E&TC Engineering,Male,TCS,11.86,Internship,2020,On-Campus,NaN,...,1,1,0,1,0,0,1,17,10,90.441525
5,121E08620,Miss Kayla Meadows,Civil Engineering,Male,Microsoft,26.88,Full-time,2021,On-Campus,Banking,...,1,1,1,1,1,1,1,17,12,91.919070
6,121E03089,Timothy Park,R & A,Male,Microsoft,20.44,Internship,2023,On-Campus,IT Services,...,1,1,1,1,1,0,1,19,10,91.822858
7,121E07418,Katie Raymond,Information Technology,Male,Microsoft,16.33,Internship,2020,Off-Campus,Software,...,0,1,1,1,0,1,1,17,13,88.643920
8,121E04954,Bonnie Sanders,Information Technology,Male,TCS,27.43,Internship,2024,PPO,Banking,...,0,1,1,1,0,0,1,18,20,93.820862
9,121E05958,Bradley Gill,Civil Engineering,Female,Google,22.17,Full-time,2024,Off-Campus,Banking,...,0,1,0,1,0,0,1,16,18,83.739624
10,121E06215,Michelle Mitchell,Mechanical Engineering,Female,NaN,0.00,NaN,2022,On-Campus,IT Services,...,0,0,1,0,0,1,0,14,20,68.629388
11,121E06074,Olivia Clark,Information Technology,Male,NaN,0.00,Internship,2024,On-Campus,IT Services,...,1,0,0,1,0,1,1,14,16,60.838376
12,121E08148,Mark Phillips,E&TC Engineering,Male,NaN,0.00,NaN,2022,On-Campus,NaN,...,0,1,1,0,0,0,0,10,18,50.502163
13,121E08761,Laura Davenport,R & A,Male,Google,21.17,Internship,2020,PPO,Banking,...,1,1,1,1,1,0,1,19,14,90.640260
14,121E08493,Dana Hickman,Information Technology,Male,TCS,24.71,NaN,2024,PPO,IT Services,...,0,1,1,1,0,0,1,18,11,83.830091
15,121E07565,Carolyn Patton,Civil Engineering,Female,Google,27.52,Internship,2024,On-Campus,Banking,...,1,1,0,1,0,1,1,19,19,80.759237
16,121E02024,Jaime Moore,Mechanical Engineering,Male,NaN,0.00,NaN,2020,On-Campus,NaN,...,0,1,0,0,0,0,1,6,13,60.401890
17,121E05158,John Patterson,R & A,Male,TCS,13.97,NaN,2020,PPO,Software,...,1,1,0,1,1,1,1,19,15,82.016169
18,121E05990,Christopher Schneider,E&TC Engineering,Male,TCS,25.48,Full-time,2023,On-Campus,NaN,...,0,1,0,1,1,1,1,19,13,93.564399
19,121E08868,Cathy Gutierrez,R & A,Male,Google,4.38,NaN,2024,Off-Campus,NaN,...,1,1,0,1,0,1,1,16,14,81.607858

In [14]:
df[['10th Marks', '12th Marks', 'Graduation Marks']] = df[['10th Marks', '12th Marks', 'Graduation Marks']].round(2)

In [19]:
unique_companies = df['Name of Company'].unique()

In [20]:
print(unique_companies)

['Microsoft' 'TCS' 'Infosys' 'Google' nan]

In [15]:
df.head()

,ZPRN,Name of Student,Branch,Gender,Name of Company,CTC,Nature of Job,Batch,Type of Offer,Comapny Domain,...,MongoDB,NodeJS,GenAI,DSA,MobileDev,WebDev,ReactJS,Technical Score (out of 20),Technical Score,12th Marks
0,121E01640,Victoria Solis,E&TC Engineering,Male,Microsoft,25.30,Full-time,2021,On-Campus,IT Services,...,0,1,1,1,0,1,1,16,18,94.72
1,121E00876,Olivia Ray,R & A,Male,TCS,27.09,NaN,2022,Off-Campus,Software,...,1,1,0,1,0,1,1,19,19,86.86
2,121E05956,Bradley Bryant,Information Technology,Female,TCS,25.54,NaN,2023,Off-Campus,IT Services,...,0,1,1,1,0,0,1,19,17,82.62
3,121E09673,Amanda Gonzales,R & A,Female,Infosys,21.13,Full-time,2022,Off-Campus,NaN,...,0,1,0,1,0,1,1,18,14,92.52
4,121E05589,Jimmy Elliott,E&TC Engineering,Male,TCS,11.86,Internship,2020,On-Campus,NaN,...,1,1,0,1,0,0,1,17,10,90.44

In [29]:
df.to_excel("demo_Correct_Updated_Student_Dataset_Final.xlsx", index=False)