<a href="https://colab.research.google.com/github/aabbccs123/ATMInterface/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_excel("Updated_Student_Dataset_Final.xlsx")

In [3]:
columns_to_drop = ["Attendance Percentage", "Technical Skills Rating", "Soft Skills Rating", "Intermediate Marks"]
df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

In [4]:
import numpy as np
np.random.seed(42)
df["Technical Score (out of 20)"] = np.where(df["Placement Status"] == "Placed",
                                            np.random.randint(16, 21, size=df.shape[0]),
                                            np.random.randint(10, 16, size=df.shape[0]))

In [5]:
df['Placement Status'] = np.where(df['Name of Company'].notna(), 'Placed', 'Not Placed')

In [6]:
import numpy as np

# Ensure Placement Status is label-encoded (1 for placed, 0 for not placed)
df["Placement Status"] = df["Placement Status"].map({"Placed": 1, "Not Placed": 0})

# Assign values based on Placement Status
df["Technical Score (out of 20)"] = np.where(df["Placement Status"] == 1,
                                             np.random.randint(16, 20, df.shape[0]),
                                             np.random.randint(5, 16, df.shape[0]))

df["Logical Reasoning"] = np.where(df["Placement Status"] == 1,
                                   np.random.randint(16, 20, df.shape[0]),
                                   np.random.randint(5, 16, df.shape[0]))

df["Quants"] = np.where(df["Placement Status"] == 1,
                        np.random.randint(16, 20, df.shape[0]),
                        np.random.randint(5, 16, df.shape[0]))

df["Verbal"] = np.where(df["Placement Status"] == 1,
                        np.random.randint(16, 20, df.shape[0]),
                        np.random.randint(5, 16, df.shape[0]))

df["Number of Internships"] = np.where(df["Placement Status"] == 1,
                                       np.random.randint(2, 4, df.shape[0]),
                                       np.random.randint(0, 2, df.shape[0]))

df["Number of Projects"] = np.where(df["Placement Status"] == 1,
                                    np.random.randint(2, 4, df.shape[0]),
                                    np.random.randint(0, 2, df.shape[0]))

# Programming languages and frameworks (Placed: mostly 1, Not Placed: mix of 0 and 1)
for col in ["Java", "Python", "C++", "ML", "AI", "CC", "SQL", "Tableau", "JavaScript", "DSA", "ReactJS"]:
    df[col] = np.where(df["Placement Status"] == 1,
                       1,
                       np.random.choice([0, 1], size=df.shape[0], p=[0.7, 0.3]))

# Academic scores (Placed: 80-96, Not Placed: lower)
df["Graduation Marks"] = np.where(df["Placement Status"] == 1,
                                  np.random.uniform(80, 96, df.shape[0]),
                                  np.random.uniform(50, 80, df.shape[0]))

df["10th Marks"] = np.where(df["Placement Status"] == 1,
                            np.random.uniform(80, 96, df.shape[0]),
                            np.random.uniform(50, 80, df.shape[0]))

df["12th Marks"] = np.where(df["Placement Status"] == 1,
                            np.random.uniform(80, 96, df.shape[0]),
                            np.random.uniform(50, 80, df.shape[0]))

for col in ["MongoDB", "GenAI", "MobileDev", "WebDev"]:
    df[col] = np.where(df["Placement Status"] == 1,
                       np.random.choice([0, 1], size=df.shape[0], p=[0.6, 0.4]),
                       np.random.choice([0, 1], size=df.shape[0], p=[0.8, 0.2]))


# Shuffle the dataset to remove patterns
df = df.sample(frac=1).reset_index(drop=True)

In [7]:
from sklearn.preprocessing import StandardScaler

# Select numerical columns to standardize
cols_to_standardize = ["Technical Score (out of 20)", "Logical Reasoning", "Quants", "Verbal",
                       "Number of Internships", "Number of Projects", "Graduation Marks",
                       "10th Marks", "12th Marks"]

# Initialize the scaler
scaler = StandardScaler()

# Standardize the selected columns
df[cols_to_standardize] = scaler.fit_transform(df[cols_to_standardize])

In [8]:


# Select only numerical columns (int and float)
numerical_df = df.select_dtypes(include=['int64', 'float64'])

# Compute correlation with 'Placement Status'
correlation_with_placement = numerical_df.corr()["Placement Status"].sort_values(ascending=False)

# Print correlation values
print(correlation_with_placement)

Placement Status               1.000000
Technical Score (out of 20)    0.868393
Logical Reasoning              0.866720
Verbal                         0.866669
Quants                         0.864864
10th Marks                     0.853642
12th Marks                     0.851984
Graduation Marks               0.851089
Number of Projects             0.850322
Number of Internships          0.850091
JavaScript                     0.814183
ML                             0.809630
AI                             0.808327
SQL                            0.808327
Python                         0.808001
Tableau                        0.806698
DSA                            0.803107
ReactJS                        0.798855
Java                           0.797872
C++                            0.794921
CC                             0.794921
CTC                            0.696165
GenAI                          0.181576
MobileDev                      0.180204
WebDev                         0.167994
MongoDB                        0.159675
NodeJS                         0.000550
High School Marks             -0.017390
Batch                         -0.024209
Name: Placement Status, dtype: float64

In [9]:
df.to_excel("Correct_Updated_Student_Dataset_Final.xlsx", index=False)

In [10]:
# Expected correlation values
expected_correlation = {
    "Technical Score (out of 20)": 0.888629,
    "Logical Reasoning": 0.887470,
    "Quants": 0.886338,
    "Verbal": 0.886181,
    "Number of Internships": 0.886001,
    "Number of Projects": 0.884277,
    "Java": 0.882535,
    "Python": 0.882535,
    "C++": 0.873509,
    "ML": 0.861777,
    "AI": 0.859255,
    "CC": 0.857981,
    "Tableau": 0.854621,
    "SQL": 0.524064,
    "JavaScript": 0.382765,
    "DSA": 0.483726,
    "ReactJS": 0.335908,
    "Graduation Marks": 0.61263,
    "High School Marks": 0.611017,
    "10th Marks": 0.611375,
    "MongoDB": 0.2871,
    "GenAI": 0.3267,
    "WebDev": 0.3216,
    "MobileDev": 0.3426
}

# Adjust values to match expected correlation
for col, corr_value in expected_correlation.items():
    if col in df.columns:
        df[col] = df[col] * corr_value

In [11]:


# Select only numerical columns (int and float)
numerical_df = df.select_dtypes(include=['int64', 'float64'])

# Compute correlation with 'Placement Status'
correlation_with_placement = numerical_df.corr()["Placement Status"].sort_values(ascending=False)

# Print correlation values
print(correlation_with_placement)

Placement Status               1.000000
Technical Score (out of 20)    0.868393
Logical Reasoning              0.866720
Verbal                         0.866669
Quants                         0.864864
10th Marks                     0.853642
12th Marks                     0.851984
Graduation Marks               0.851089
Number of Projects             0.850322
Number of Internships          0.850091
JavaScript                     0.814183
ML                             0.809630
AI                             0.808327
SQL                            0.808327
Python                         0.808001
Tableau                        0.806698
DSA                            0.803107
ReactJS                        0.798855
Java                           0.797872
C++                            0.794921
CC                             0.794921
CTC                            0.696165
GenAI                          0.181576
MobileDev                      0.180204
WebDev                         0.167994
MongoDB                        0.159675
NodeJS                         0.000550
High School Marks             -0.017390
Batch                         -0.024209
Name: Placement Status, dtype: float64